.signup-page {
  justify-content: center;
}

.signup-container {
  display: inline; 
  margin: auto; 
  text-align: center;
  width: 400px; 
  margin-top: 300px;
  padding-top: 200px; 
}

.signup-card {
  justify-content: center;
  margin: auto; 
  display: flex; 
  border: 1pt rgb(226, 225, 225);
  border-radius: 5px;
  border-style: solid;
  width: 400px;
  height: 400px; 
  padding-top: 40px;
  margin-top: 10px;
}