
.filter-container {
  top: 190px; 
  left: 0px; 
  display: flex; 
  position: fixed;
  justify-content: left;
  width: 200px;
  height: 700px;
  border-style: solid;
  border-color: rgb(226, 225, 225);
  border-width: 1pt;
  margin-left: 5px;
  /* border-top: 2pt #838282;  */
}

.filter-header {
  margin-top: 20px;
  margin-left: 10px; 
}

.filter-header-text {
  font-size: 11.0pt;
  font-weight: 900;
  margin-left: 0px; 
}